.GameField {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  position: relative;
}

.item {
  clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
  background-color: azure;
  text-align: center;
  vertical-align: middle;
  flex-shrink: 0;
  margin-right: 1%;
}

.pointy {
  &.GameField {
    flex-direction: row-reverse;
  }

  .row {
    flex-direction: column;
  }

  .item {
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    margin: 0;
  }
}
