$angle: 35deg;
$buttonWidth: 70px;
$buttonShift: 10px;

.Controls {
  display: flex;
  background-color: antiquewhite;
  padding: 5px 20px;

  & button {
    min-width: $buttonWidth;
    height: 30px;
    border: 1px solid #9fb2ff;
    border-radius: 14px;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > p {
    width: 300px;
    margin: 0;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: #00000010;
    }

    span {
      margin: 5px;
      font-weight: 900;
    }
  }

  > div {
    margin-top: 10px;
  }
}

.startOver {
  width: 100px;
  height: 35px !important;
}

.arrows {
  position: relative;
  align-items: center;
  min-width: 260px;

  p {
    margin: 5px 0 0 0;
  }

  .arrow {
    display: inline-block;
    transform: rotate(-90deg);
    padding: 0 3px;
  }

  .text {
    display: inline-block;
  }

  div:nth-of-type(2),
  div:nth-of-type(3) {
    position: relative;
    margin: 3px;

    button:first-child {
      margin-right: $buttonWidth;
    }
  }

  div:nth-of-type(2) {
    top: -$buttonShift;

    button:first-child {
      transform: rotate(-$angle);

      .text {
        transform: rotate($angle);
      }
    }

    button:last-child {
      transform: rotate($angle);

      .text {
        transform: rotate(-$angle);
      }
    }
  }

  div:nth-of-type(3) {
    top: $buttonShift;

    button:first-child {
      transform: rotate(-180deg + $angle);

      .text {
        transform: rotate(180deg - $angle);
      }
    }

    button:last-child {
      transform: rotate(180deg - $angle);

      .text {
        transform: rotate(-180deg + $angle);
      }
    }
  }

  div:nth-of-type(4) {
    button {
      transform: rotate(180deg);

      .text {
        transform: rotate(180deg);
      }
    }
  }
}

.flat {
  button {
    margin: 0 !important;
  }

  p {
    margin: 15px 0 0 0;
  }

  div:first-of-type {
    margin-top: 12px;

    button:first-child {
      transform: rotate(-$angle);

      .text {
        transform: rotate($angle);
      }
    }

    button:last-child {
      transform: rotate($angle);

      .text {
        transform: rotate(-$angle);
      }
    }
  }

  div:nth-of-type(2),
  div:nth-of-type(3) {
    top: 0;
  }

  div:nth-of-type(2) {
    button:first-child {
      transform: rotate(-90deg);
      margin-right: 110px !important;

      .text {
        transform: rotate(90deg);
      }
    }

    button:last-child {
      transform: rotate(90deg);

      .text {
        transform: rotate(-90deg);
      }
    }
  }
}

@media (max-width: 570px) {
  .Controls {
    flex-direction: column;
  }

  .column {
    width: 100%;
    margin: 0;
  }

  .settings {
    margin-bottom: 10px;

    > p {
      margin: auto;
    }
  }
}
